.about{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/kevokesha.jpeg');
    background-size: cover; /* or "contain" */
    background-repeat: no-repeat; /* Prevents repeating */
    background-position: center;
    background-attachment: fixed; /* Ensures background doesn't move on scroll */
    min-height: 100vh;
}
.about-title{
    
    color: green;
    font-weight: 900;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 20vh;
}
.about-title h1{
    font-weight: 700;
    font-size: 6vh;
    text-decoration: underline 6px solid green;
}
.core-values{
   justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
/* EVENTS SECTION */
.events{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/dinnerdate\ hall.jpg');
    background-size: cover; /* or "contain" */
    background-repeat: no-repeat; /* Prevents repeating */
    background-position: center;
    background-attachment: fixed; /* Ensures background doesn't move on scroll */
    min-height: 40vh;
    margin-bottom: 10vh;
}
/* children minisry */
.children{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/childrenchurch1.jpg');
    background-size: cover; /* or "contain" */
    background-repeat: no-repeat; /* Prevents repeating */
    background-position: center;
    background-attachment: fixed; /* Ensures background doesn't move on scroll */
    min-height: 40vh;
    margin-bottom: 10vh;

}
.beginners{
    height:50vh;
}