.navs{
    text-decoration: none;
    font-size: 2vh;
}
.drop-down{
    text-decoration: none;
    font-size: 2vh;
    color: white !important;
}
.drop-down:hover{
    background-color: #343a40 !important;
    color: white !important;
}

.card{
    width: 18rem !important;
}
.evnt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.poster-img{
    display: flex !important;
    justify-content: center;
    padding: 1vh !important;
    
    
}
.poster{
    margin-left: vh;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0) !important;
}
.card-event{
    font-size: 4vh;
    align-items: center;
    justify-content: center !important;
    margin: auto !important;
    margin-left: 4vh !important;
    margin-top: 6vh !important;
    font-weight: 700 !important;
}
.card-btn{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 8vh;
  

}
.timer-verse {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                      url('../img/groupmeetings.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.maintaining-h2{
    display: flex;
    justify-content: center;
} 
.transparent-bg {
    background-color: rgba(255, 255, 255, 0.854); /* White with 50% transparency */
}   
.maitaining-title{
    font-weight: 700;
    font-size: 5vh;
    margin-top: 10vh;
    text-align: center;
}
.maintaning-p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.maintaining-verse{
    font-size: 3vh;
    font-weight: 700;
    text-align: center;
    font-style: italic;
    text-decoration: underline 4px solid green;
}
.maintainig-button{
    padding: 1vh 3vh;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    border-radius: 10px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.maintainig-button:hover{
    background-color: #4CAF50;
    color: white;
}
/* footer */
.direction a{
    font-size: 2vh;
    color: black;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}
.direction a:hover{
    color: white;
    
}
.direction:hover{
    background-color: green !important;
    color: white;

}


/* media query */
@media only screen and (max-width: 576px) {
    .countdown-title{
        font-size: 3vh;
        margin-top: 4vh;
    }
    .card-event{
        font-size: 5vh !important;
        margin-bottom: 4vh !important;
    }
    .interval-all {
        padding: 1vh !important;
    }
    .interval-time{
        font-size: 4vh !important;
    }
    .interval-text{
        font-size: 2vh !important;
    }
    .card-btn{
        margin-top: 6vh !important;
        margin-bottom: 8vh !important;
    }
    .card-all{
        margin-bottom: 20vh !important;
    }
}




